<head>
  <title>FoosFind</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
  <script src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.3/src/markerwithlabel.js"></script>
</head>

<body>
   <div style="width:800px; margin:0 auto;">
  <table>
  <td><tn>
  <div id="map-canvas" style="height:200px;width:280px;border:1px solid black"></div>
  </tn><tn>
  <div id="info" style="height:200px;width:280px;border:1px solid gray;font-size:50%"></div>
  </tn><tn style="text-align: center;vertical-align: middle;">
  <div id="control" style="height:20px;width:280px">
   <button style="padding:1px;" onclick="movePrev();">PREV </button>     
   <button style="padding:1px;" onclick="moveNext();">NEXT </button>
  </div>
  </tn></td>
  </table> 
</div>
</body>

<script>

var data= [
      {
        "title": "Manchester University Whitworth Park Campus",
        "city": "Manchester",
        "postcode": "M14 4PW",
        "country": "United Kingdom",
        "submitted": "Posted Fri, 14/01/2011 - 18:39 by jonathan.may",
        "fullname": "Manchester University Whitworth Park Campus",
        "street": "Whitworth Park",
        "locality": "Manchester",
        "region": "MAN",
        "pcode": "M14 4PW",
        "latitude": "53° 27' 28.4688\" N",
        "longitude": "2° 13' 37.2504\" W",
        "tabletype": ["Fireball","Tornado"],
        "link": "http://foosballuk.com"
      },
      {
        "title": "William Gates Building",
        "city": "Cambridge",
        "postcode": "CB3 0FD",
        "country": "United Kingdom",
        "submitted": "Posted Tue, 27/04/2010 - 07:29 by jonathan.may",
        "fullname": "William Gates Building",
        "street": "15 JJ Thomson Avenue",
        "locality": "Cambridge",
        "region": "CAM",
        "pcode": "CB3 0FD",
        "latitude": "52° 12' 39.0276\" N",
        "longitude": "0° 5' 30.4656\" E",
        "tabletype": "Garlando"
      },
      {
        "title": "Hatherton C.H. Hotel",
        "phone": "01785 712459",
        "city": "Stafford",
        "postcode": "ST19 5QP",
        "country": "United Kingdom",
        "submitted": "Posted Thu, 25/02/2010 - 19:05 by Anonymous",
        "fullname": "Hatherton C.H Hotel",
        "street": "Pinfold Lane                   Penkridge",
        "locality": "Stafford",
        "region": "STS",
        "pcode": "ST19 5QP",
        "latitude": "52° 43' 28.7436\" N",
        "longitude": "2° 7' 10.8768\" W",
        "tabletype": "Unknown",
        "link": "www.hotels-stafford.com"
      }
]

function decimalGPS(s) {
 var sum=0;
 s.split(" ").forEach(function(x,i){if(i<3) sum+=parseFloat(x)/Math.pow(60,i)});
 if (s[s.length-1]=="W") sum=sum*-1;
 if (s[s.length-1]=="S") sum=sum*-1;
 return sum
}

data.forEach(function(x){
  x.lat=decimalGPS(x.latitude);
  x.lng=decimalGPS(x.longitude)})

function radian(x){return x*(Math.PI/180)}

function gpsDist(lat1,lon1,lat2,lon2){
  var R = 6371; // km
  var dLat = radian(lat2-lat1);
  var dLon = radian(lon2-lon1);
  var lat1 = radian(lat1);
  var lat2 = radian(lat2);
  var a = Math.sin(dLat/2)*Math.sin(dLat/2)+
          Math.sin(dLon/2)*Math.sin(dLon/2)*Math.cos(lat1)*Math.cos(lat2); 
  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
  var d = R * c;
  return d}

function addDistance(lat1,lon1,data){
  for (var i=0;i<data.length;i++) { 
     data[i].distance=gpsDist(lat1,lon1,data[i].lat,data[i].lng);
     console.log([i,data[i].name,data[i].distance]);
  }
  data.sort(function(a,b){return a.distance>=b.distance});
  data.forEach(function(x,i){x.distRank=i});
}  


//////////////////
// GOOGLE MAP

var map;
var selected=0;
var markers=[];

function addDataMark(map,data,i) {
  var o=data[i];
  var pos=new google.maps.LatLng(o.lat,o.lng);
  var info="";  var hinfo="";
  for (k in o) info+=k+"="+JSON.stringify(o[k])+"\n";
  for (k in o) hinfo+=k+"="+JSON.stringify(o[k])+"<br/>";
  console.log("marking...");
  console.log([pos,o]);
  var marker=new google.maps.Marker({
      draggable:true,
      position:pos,
      map:map,
      title:info,
      zIndex:o.distRank,
      icon:"http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld="+o.distRank
        +((selected==i)?"|FF0000|000000":"|00FF00|000000")
  });
  google.maps.event.addListener(marker,'click',(function(x){return function(){smoothMove(x)}})(i));
  markers.push(marker);
  if(selected==i) {document.getElementById("info").innerHTML=hinfo} 
}

function addDataMarks(map,data) {
  for (var i=0;i<data.length;i++) addDataMark(map,data,i)
}


function initialize() {
  console.log("INIT...");
  var mapOptions = {
    zoom: 6,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  // Try HTML5 geolocation
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = new google.maps.LatLng(position.coords.latitude,
                                       position.coords.longitude);
      console.log(pos);
      var posprint = pos.ob.toString().slice(0,5) +"/"+ pos.pb.toString().slice(0,5);
      var infowindow = new google.maps.InfoWindow({
        map: map,
        position: pos,
        maxWidth:300,
        content: 'You are here'
      });
      map.setCenter(pos);
      console.log("adding distances...");
      addDistance(pos.ob,pos.pb,data);
      console.log("adding marks...");
      addDataMarks(map,data);

    }, function() {
      handleNoGeolocation(true);
    });
  } else {
    // Browser doesn't support Geolocation
    handleNoGeolocation(false);
  }

}

function smoothMove(i){
  var newPos=new google.maps.LatLng(data[i].lat,data[i].lng);
  map.panTo(newPos);
  markers.forEach(function(x){x.setMap(null)});
  markers=[];
  selected=i;
  addDataMarks(map,data); 
} 

function moveNext(){
  selected=(selected==data.length-1)?0:(selected+1);
  smoothMove(selected)
} 

function movePrev(){
  selected=(selected==0)?(data.length-1):(selected-1);
  smoothMove(selected)
} 


function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'Error: The Geolocation service failed.';
  } else {
    var content = 'Error: Your browser doesn\'t support geolocation.';
  }

  var options = {
    map: map,
    position: new google.maps.LatLng(60, 105),
    content: content
  };

  var infowindow = new google.maps.InfoWindow(options);
  map.setCenter(options.position);
}


// global initialisation function
window.initMap=initialize;
window.moveMap=smoothMove;
window.moveNext=moveNext;
window.movePrev=movePrev;

google.maps.event.addDomListener(window, 'load', initMap);

</script>


